<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>

<configuration>
	<jmxConfigurator />
	
	<!-- 全局配置文件 -->
	<!-- 
	<property file="src\main\resources\cloudmanager.properties" />
	 -->
	 
	<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份) -->
	<!-- 
	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${path.log}/cloudmanager.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${path.log}/cloudmanager.log.%i.bak</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>10</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>128MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} 
			[%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>
	 -->
	 
	<!--这里指定logger name 是为jmx设置日志级别做铺垫 -->
	<!-- 
	<logger name="com.sugon.cloudview.cloudmanager">
		<level value="DEBUG" />
		<appender-ref ref="RollingFile" />
	</logger>
	 -->
	 
</configuration>