.list-group {
    &.pmdetail {
        & .list-group-item {
            & dl {
                & dt {
                    width: 120px !important;
                }
            }
        }
    }
    .vm-tabs & {
        margin-bottom: 0;
        & .list-group-item-heading {
            margin-bottom: -1px;
            padding: 6px 15px;
            background: #f5f5f5;
            color: #999;
            border-radius:inherit;
            font-size: 14px !important;
        }
        & .list-group-item:first-child {
            border-radius:2px 2px 0 0;
        }
        & .list-group-item:last-child {
            border-radius: 0 0 2px 2px;
        }
        & .list-group-item {
            color: #999;
            font-size: 12px;
            & span {
                color: #333;
                padding: 0 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            & dl {
                margin: 0;
                display: table;
                & dt {
                    display: table-cell;
                    width: 80px;
                    font-size: 12px;
                    font-weight: normal;
                    color: #777;
                }
                & dd {
                    display: table-cell;
                    color: #333;
                    font-size: 12px;
                    word-break: break-all;
                    & p {
                        margin: 0;
                    }
                    & i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .well & .list-group-item {
        background: none;
        border-radius: 0 !important;
        border: none;
        border-bottom: 1px solid #e7eaee;
        padding: 6px 10px;
        &:hover {
            background-color: #e7eaee;
        }
        & .label {
            float: right;
            line-height: 16px;
            color: #FFF;
            font-size: 12px;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    .project-list & {
        margin-top: 15px;
        & .list-group-item {
            background: none;
            border-radius: 0 !important;
            border: none;
            border-bottom: 1px solid #e7eaee;
            &:hover {
                background-color: #e7eaee;
            }
            & i {
                margin-right: 10px;
            }
        }
    }
    .dashboard-list & {
        & .list-group-item {
            background: none;
            border-radius: 0 !important;
            border: none;
            border-bottom: 1px solid #e7eaee;
            &:hover {
                background-color: #e7eaee;
            }
            & .label {
                float: right;
                line-height: 16px;
            }
        }
    }
    .wizard & {
        
    }
}
