nav {
    .header > & {
        padding: 0;
        height: $navHeight;
        background: $navColor;
        & .container-fluid {
            padding: 0;
            & .navbar-brand {
                 width: 9.75rem;
                 height: $navHeight;
                 margin: 0;
                 padding: 0;
                 background-color:$colorCyan;
            }
            & .navbar-nav li {
                margin:0;
                & > a {
                    padding: 1rem 1.2rem;
                    line-height: 2rem;
                    font-size: 0.875rem;
                    color: $navTextColor;
                    height: $navHeight;
                    &:hover, &:active, &:focus {
                        color: $colorCyan;
                        padding-bottom: 0.875rem;
                        border-bottom: 0.125rem solid $colorCyan;
                        background: none;
                    }
                }
                &.active > a {
                    color: $colorCyan;
                    padding-bottom: 0.875rem;
                    border-bottom: 0.125rem solid $colorCyan;
                    background: none;
                }
            }
            & .navbar-nav.navbar-left li.dropdown > a {
                transition: .3s all ease;
                width: 4rem;
                padding: 0;
                margin-right: 1rem;
                text-align: center;
                line-height: 4rem;
                font-size: 1rem;
                background: $navHoverColor;
                color: #7fdcee;
                &:hover, &:active, &:focus {
                    color: #FFF;
                }
            }
            & .navbar-nav.navbar-right {
                margin: 0;
                & li#hellowLiId {
                    padding: 0.8rem 0 0.8rem 1rem;
                    line-height: 38px;
                    color: #666;
                    & span {
                        font-weight: bold;
                        margin-left: 5px;
                        color: #333;
                    }
                }
                & li a {
                    color: #8ea5bc;
                    padding: 1rem;
                    font-size: 1rem;
                    &:hover, &:active, &:focus {
                        color: $navHoverColor;
                    }
                    & .user-photo {
                        display: inline-block;
                        width: 32px;
                        height: 32px;
                        vertical-align: middle;
                        overflow: hidden;
                        background: #3498db;
                        border-radius: 50%;
                        & img {
                            margin: 0;
                            padding: 0;
                        }
                        & + span {
                            color: #333;
                            font-weight: bold;
                            margin-left: 10px;
                            vertical-align: middle;
                            font-size: 16px;
                        }
                    }
                    &.dropdown-toggle {
                        padding: 0.8rem 1rem;
                    }
                }
                & .dropdown-menu {
                    & li {
                        & a {
                            padding: 0.3rem 1rem;
                            font-size: 14px;
                            line-height: 20px;
                            height: auto;
                            &:hover, &:active, &:focus {
                                color: #FFF;
                                padding: 0.3rem 1rem;
                                border:none;
                                background: $colorCyan;
                            }
                            & i {
                                width: 18px;
                                text-align: center;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            & .navbar-form {
                margin-top: 14px;
                & .form-control {
                    width: 5rem;
                    background: #ffffff;
                    border: 1px solid #eeeeee;
                    color: #ccc;
                    box-shadow: none;
                    transition: .3s all ease;
                    &:focus {
                        background: #FFF;
                        border: 1px solid #cccccc;
                        color:#666;
                        width: 10rem;
                    }
                    &::-moz-placeholder {
                      color: #DDD;
                      opacity: 1;
                    }
                    &:-ms-input-placeholder {
                      color: #DDD;
                    }
                    &::-webkit-input-placeholder {
                      color: #DDD;
                    }
                }
            }
        }
    }
}