//全局配色风格变量
$colorDarkBule:             #181f24;//深蓝色
$colorRed:                  #e74c3c;//红色
$colorLightGray:            #f2f4f8;//浅灰色
$colorBlue:                 #232c32;//蓝色
$colorCyan:                 #4cb6cb;//青色

//全局导航变量
$navHeight:                 4rem;//导航高度
$navColor:                  #FFFFFF;//导航底色
$navTextColor:              #666666;//导航主菜单默认文字颜色
$navActiveColor:            $colorRed;//导航选中底色
$navHoverColor:             $colorCyan;//导航悬浮颜色

//全局侧边栏变量
$sidebarWidth:              13.75rem;//侧边栏宽度